<div class="d-flex align-items-center justify-content-center parent-div">
<mat-card class="custom-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
<mat-card-content>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="custom-field">
      <mat-label>Email</mat-label>
      <input type="Email" matInput formControlName="email"
      [(ngModel)]="loginRequest.email"
      >
    </mat-form-field>
    <div *ngIf="submitted && f['email'].errors" class="text-danger">
      <small *ngIf="f['email'].errors['required']">Email is required</small>
      <small *ngIf="f['email'].errors['email']">Please enter a valid email.</small>
    </div>
  
    <mat-form-field class="custom-field">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password"
      [(ngModel)]="loginRequest.password"
      >
    </mat-form-field>
    <div *ngIf="submitted && f['password'].errors" class="text-danger">
      <small *ngIf="f['password'].errors['required']">Password is required</small>
    </div>

  <div class="button ">
    <button type="submit" class="custom-button" mat-raised-button color="accent">Login</button>
  </div>

  <div class="signup">
    Not registered? <a routerLink="../signup">Create an account</a>
  </div>

</form>
</mat-card-content>
</mat-card>
</div>