<div class="container" style="width: 50%; margin-top: 114px;">
    <h2>Room Booking</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row">
        <div class="col-6">
            <div class="form-group">
                <mat-form-field style="width: 80%;">
                  <mat-label>Arrival Date</mat-label>
                  <input matInput [matDatepicker]="arrivalDatePicker" [(ngModel)]="createBookingRequest.arrivalDate" formControlName="arrivalDatePicker">
                  <mat-datepicker-toggle matSuffix [for]="arrivalDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #arrivalDatePicker></mat-datepicker>
                </mat-form-field>
                <div *ngIf="submitted && f['arrivalDatePicker'].errors" class="text-danger">
                  <small *ngIf="f['arrivalDatePicker'].errors['required']">Arrival date is required</small>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <mat-form-field style="width: 80%;">
                  <mat-label>Departure Date</mat-label>
                  <input matInput [matDatepicker]="departureDatePicker" [(ngModel)]="createBookingRequest.departureDate" formControlName="departureDatePicker">
                  <mat-datepicker-toggle matSuffix [for]="departureDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #departureDatePicker></mat-datepicker>
                </mat-form-field>
                <div *ngIf="submitted && f['departureDatePicker'].errors" class="text-danger">
                  <small *ngIf="f['departureDatePicker'].errors['required']">Departure date is required</small>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <mat-form-field style="width: 80%;">
                  <mat-label>Room Type</mat-label>
                  <mat-select [(ngModel)]="createBookingRequest.roomType" formControlName="roomType">
                    <mat-option value="single">Single</mat-option>
                    <mat-option value="double">Double</mat-option>
                    <!-- Add more room types as needed -->
                  </mat-select>
                </mat-form-field>
                <div *ngIf="submitted && f['roomType'].errors" class="text-danger">
                  <small *ngIf="f['roomType'].errors['required']">Room type is required</small>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <mat-form-field style="width: 80%;">
                  <mat-label>Number of Guests</mat-label>
                  <input matInput type="number" [(ngModel)]="createBookingRequest.numOfGuests" formControlName="numOfGuests">
                </mat-form-field>
                <div *ngIf="submitted && f['numOfGuests'].errors" class="text-danger">
                  <small *ngIf="f['numOfGuests'].errors['required']">Number of guests is required</small>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <mat-form-field style="width: 80%;">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" [(ngModel)]="createBookingRequest.name">
                </mat-form-field>
                <div *ngIf="submitted && f['name'].errors" class="text-danger">
                  <small *ngIf="f['name'].errors['required']">Name is required</small>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <mat-form-field style="width: 80%;">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" [(ngModel)]="createBookingRequest.email" formControlName="email">
                </mat-form-field>
                <div *ngIf="submitted && f['email'].errors" class="text-danger">
                  <small *ngIf="f['email'].errors['required']">Email is required</small>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <mat-form-field style="width: 80%;">
                  <mat-label>Phone Number</mat-label>
                  <input matInput type="number" [(ngModel)]="createBookingRequest.phoneNumber" formControlName="phoneNumber">
                </mat-form-field>
                <div *ngIf="submitted && f['phoneNumber'].errors" class="text-danger">
                  <small *ngIf="f['phoneNumber'].errors['required']">Phone number is required</small>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <mat-form-field style="width: 80%;">
                  <mat-label>Payment Information</mat-label>
                  <input matInput [(ngModel)]="createBookingRequest.paymentInfo" formControlName="paymentInfo">
                </mat-form-field>
                <div *ngIf="submitted && f['paymentInfo'].errors" class="text-danger">
                  <small *ngIf="f['paymentInfo'].errors['required']">Payment info is required</small>
                </div>
              </div>
        </div>
    </div>  
    <div class="row">
        <div class="col">
            <div class="form-group">
                <mat-form-field style="width: 90%;">
                  <mat-label>Special Requests</mat-label>
                  <textarea matInput [(ngModel)]="createBookingRequest.specialRequests" formControlName="specialRequests"></textarea>
                </mat-form-field>
              </div>
        </div>
    </div>

  
    

  
    <div class="form-group">
      <mat-checkbox (click)="changeTCFlag()" [(ngModel)]="createBookingRequest.termsAndConditions" formControlName="termsAndConditions">I have read and agree to the terms and conditions</mat-checkbox>
    </div>
  
    <div class="buttons" style="margin-top: 10px;">
      <!-- <button class="btn btn-secondary" (click)="dialogRef.close()">Cancel</button> -->
      <button type="submit" mat-raised-button color="accent" [disabled]="!terms">Book Now</button>
    </div>
  
    </form>
</div>
  