<button mat-raised-button color="accent" style="margin-left: 5%;;margin-top: 20px;" [routerLink]="'../../Customer/createbooking'">Book Your Stay</button>

<ag-grid-angular
    style="width: 90%; height: 80%; margin-left: 5%;margin-top: 4%;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData$ | async"
    [rowSelection]="'multiple'"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
  ></ag-grid-angular>